* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #0077b6;
    --secondary-color: #00b4d8;
    --gradient: linear-gradient(135deg, #023e8a, #0077b6, #0096c7, #00b4d8)
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 2rem;
    height: 100vh;
    width: 100%; 
    color: white;

    background-image: url('../images/background.jpg');                       
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
}

#home .content h1 {
    font-size: 1.75rem;
}

.btn-plus, .btn-contact {
    margin-top: 1rem;
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem 0.7rem;
    border: var(--primary-color) solid;
    border-radius: 30px;
    transition: 0.5s;
    text-align: start;

} 

.btn-plus:hover, .btn-contact:hover {
    background-color: var(--secondary-color);
    border: var(--secondary-color) solid;
    transition: 0.5s;
}

#about {
    background: var(--gradient);
    text-align: justify;
    padding: 8% 8%;
    color: white;
}

#about h2 {
    margin-bottom: 1rem;
}

#work-method {
    padding: 5%;
    text-align: center;
}

#work-method h2 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
}

.method h4 {
    margin-bottom: 0.5rem;
    text-align: center;
}

.method p {
    text-align: justify;
    font-size: 0.8rem;
}

.method {
    background-color: var(--primary-color);
    color:white;
    border-radius: 0.7rem;
    padding: 1rem;    
    margin: 0.7rem;
    transition: 0.5s;
}

.method:hover {
    background-color: var(--secondary-color);
    transition: 0.5s;
}

#benefits {
    padding: 0 3%;
    margin-top: 1rem;
    margin-bottom: 1rem
}

#benefits h2{
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.benefit h4 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.benefit {
    border: var(--primary-color) solid 2px;
    padding: 1rem;
    margin: 0.7rem;
    border-radius: 0.7rem;
    transition: 0.3s;
    text-align: justify;
}

.benefit:hover {
    background: var(--gradient);
    color: white;
    transition: 0.3s;
}

#call-to-action {
    margin: 2rem 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--gradient);
    padding: 2rem 1rem;
    border-radius: 1rem;

    text-align: center;
    color: white;
}

#call-to-action p {
    margin: 1rem 0;
    font-size: 1rem;
}

.btn-cta {
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    color: var(--primary-color);
    border: white;
    background-color: white;
    font-size: 1rem;
    transition: 0.3s;
}

.btn-cta:hover {
    background-color: rgba(255, 255, 255, 0.633);
    transition: 0.3s;
}

footer {
    padding: 5% 8%;
    background-color: #003a58;
    color: white;
    font-size: 0.5rem;

    display: flex;

    justify-content: space-around;
    column-gap: 1rem;
}

footer h4 {
    padding-bottom: 0.5rem;
}

.overview-section {
    width: 40%;
}

a {
    text-decoration: none;
    color: white;
}